@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Monoton&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Barlow", sans-serif;
  font-family: "Monoton", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
h1 {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;
}
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  padding: 10px 100px;
  z-index: 999;
}
nav a {
  text-decoration: none;
  color: magenta;
}
nav a:hover {
  color: cyan;
}
header a {
  padding-right: 20px;
}
#sto {
  padding-right: 20px;
}
h1:hover {
  animation: 3s brand;
}
@keyframes brand {
  from {
    color: black;
  }
  to {
    color: magenta;
  }
}
html {
  background-color: darkgrey;
}
h2 {
  position: flex;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  margin-top: 0.12356em;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 300px;
  padding-left: 30px;
}
.OurStory {
  width:100%;
  height:562.5px;;
  display:flex;
}
.OurStory p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-right:40px;
    font-family: cursive;
}
#Teen {
  color:#54EFFF;
  font-size:1.875em;
  font-weight: 400;
  font-family: fantasy;
}
#big {
  color:#54EFFF;
  font-size:1.875em;
  font-weight:400;
  font-family:fantasy;
}
p {
  margin-left: 50px;
  white-space: nowrap;
  width: 90px;
  margin-bottom: 15px;
}
#get {
  display:inline;
  text-decoration: none;
  margin-left: 50px;
  width: 30px;
  padding-right:15px;
  padding-left:15px;
  padding-top:5px;
  padding-bottom:5px;
  background-color: #7effff;
  border: 2px soild #4fffff;
  border-radius:15px 15px 10px 10px;
  color:magenta;
}
h3 {
  font-size:30px;
  font-family: fantasy;
  padding:5px 40px;
  font-weight: 400;
}
#eat {
  border:5px solid #3ff;
  background:#7ef;
  border-radius:20px;
  text-decoration: none;
  color:black;
  padding-left:5px;
  padding-right:5px;
  padding-top:6px;
  padding-bottom:6px;
  width:60px;
  white-space: nowrap;
  margin:5px 2.8em;
}
#eat:hover{
  color:white;
  background-color:black;
  border-color:#7ef;
  transform: scaleY(5.5);
}
#eat:active{
  color:black;
  background:magenta;
  border:1px;
  width:300px;
}
#dev {
  width:100%;
  background-color:linen;
  height: 90vh;
}
